<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>
<ul>
  <% @cart.items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
</ul>

<ul>
  <% @cart.packs.each do |pack| %>
   <em><%= pack.name %></em>
    <% pack.items.each do |item| %>
      <li><%= item.name %></li>
    <% end %>
  <% end %>
</ul>
