<div class="container">
  <div class="row">
    <h1>Nos produits</strong></h1>

      <!-- insert <div class="card"> -->
    <% @items.each do |item| %>

          <%= link_to item_path(item) do %>
      <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="card keyline">
              <div class="product-img">
                <div class="card-description keyline text-center">
                <%= image_tag(item.image, class: "image") %>
                <p><%= link_to item.name, item_path(item) %> | <%=item.price %>€</p>
                </div>
              </div>
            </div>
        </div>
          <% end %>
    <% end %>

  </div>
</div>
